@import "nib"
negro-mr = #1f1f1f
gris-mr =#70716f
gris-mr-oscuro = #58595b
rojo-mr = #fc0d1b
rojo-mr-clarito = #e52528
gris-logo = #e3e4e2



@import "parts/header"
@import "parts/index"
@import "parts/vista-articulos"
@import "parts/producto"
@import "parts/footer"
@import "parts/registrate-distribuidor"
@import "parts/somos"
@import "parts/politicas"
@import "parts/usuario-final"


*
	padding 0
	margin 0

html, body 
	font-family: 'Lato', sans-serif;
	font-size 14px
	background #f1f0f0
.hidden
	display none !important