rojo-topo = #AF2F43
gris-clarito = rgb(230,230,230)
gris-oscuro = #333333
gris-medio = #E6E6E6
gris-fondo = #F2F2F2
gris-sobre = #5E5E5E
gris-texto = #666666
negro-mr = #1f1f1f
gris-mr =#70716f
rojo-mr = #bf1f2e
rojo-mr-clarito = #e52528
gris-logo = #e3e4e2
@import "nib"
@import "parts/menu.styl"
@import "parts/sombras.styl"
@import "parts/modulos.styl"
@import "create.styl"
@import "parts/inputs-material.styl"
@import "parts/btn-ripple.styl"
@import "parts/select-material.styl"
@import "parts/header.styl"
@import "parts/iconos.styl"
@import "parts/filtro-notas.styl"
@import "parts/lista-articulos.styl"
@import "parts/lista-users.styl"
@import "parts/categorias.styl"
@import "parts/create-article.styl"
@import "parts/checkbox-material.styl"
@import "parts/perfil-usuario.styl"
@import "parts/crear-categoria.styl"
@import "parts/custom-input-file.styl"
@import "parts/lista-distribuidores.styl"
@import "parts/lista-pedidos.styl"
@import "parts/lista-productos.styl"



*
	margin 0
	padding 0
body,html
	margin 0
	padding 0
	height 100%
	font-family 'Ubuntu', sans-serif


#contenedor-principal
	width 100%
	min-height 100%
	position relative
	font-size 0
	background gris-fondo
	padding-bottom 60px
.area-principal
	width 90%
	margin 0 auto
	text-align center
	padding-top 20px
@media screen and (min-width:1000px)
	.area-principal
		width 80%
		margin-left 20%
		
