.contenedor-total-activo
	position fixed
.flechas-antes-despues
	font-size 0
	background #fff !important
	height 50px
	width 100%
	.back
		width 30px
		height 30px
		position absolute
		background url("../img/back.svg") no-repeat
		background-size auto 100% 
		left 10px
		top 10px 
		display block 
	.front
		width 30px
		height 30px
		position absolute
		background url("../img/next.svg") no-repeat
		background-size auto 100% 
		right 10px
		top 10px 
		display block 
.btn-antes-despues
	width 50%
	background transparent
	display inline-block
	vertical-align top
	border 0px 
	height 50px 
	line-height 50px
	cursor pointer
	position relative
.buscador
	width 200px 
	height 40px
	line-height 40px
	border 0px
	border-radius 20px
	padding-left 10px
	margin-top 40px
header
	width 100%
	height 80px
	background rgba(60, 60, 60, 1)
	position relative
	z-index 10000001
	.logo
		width 50%
		height 80px
		background gris-logo
		margin-bottom 0
		img
			width auto
			height 60px
			margin-left 60px
			margin-top 10px
	.menu-principal
		width 50%
		height 80px
		margin-top -80px
		position absolute 
		right 0
		z-index 3
	.rayitas
		position absolute
		width 40px
		height 40px
		cursor pointer
		top 15px
		left 50%
		transition all .5s cubic-bezier(.45,.22,.63,.93)
		margin-left -20px
		transform rotate(0deg) !important
		&:before
			content "MENU"
			margin-bottom 5px
			display block
			font-size 1rem
			color #fff
		.rayita 
			height 3px 
			background #fff 
			position absolute
			transition all .5s cubic-bezier(.45,.22,.63,.93)
			transform-origin 50%
		.rayita-uno
			width 20px 
			margin-left 20px
		.rayita-dos
			width 40px
			margin-top 9px
			opacity 1
		.rayita-tres
			width 20px
			margin-top 18px
	.rayitas-desactivas
		&:hover
			.rayita-uno
				width 40px
				margin-left 0
			.rayita-tres 
				width 40px
	.rayitas-activas
		top 15px
		.rayita 
			background rgba(255, 255, 255, .75)
		.rayita-uno
			width 40px
			margin-left 0px
			margin-top 9px
			transform rotate(45deg) !important
		.rayita-tres
			width 40px
			transform rotate(-45deg) !important
			margin-left 0px
			margin-top 9px
		.rayita-dos
			opacity 0
.nav-activo
	top 80px
	ul 
		li 
			margin-left 0
			opacity 1
	.inicio-sesion
		opacity 1
	.nosotros-menu
		opacity 1
		
.cuadro-negro
	position fixed
	background #000
	display none
	width 100%
	height 100%
	z-index 10000000
nav 
	height 120%
	width 100%
	top -120%
	background rgba(0,0,0,1)
	padding-left 10px
	line-height 35px
	overflow hidden
	margin-left 0%
	transition all .5s 
	opacity 1
	transform-origin 50%
	z-index 10000001
	position absolute
	ul 
		position relative 
		z-index 4
		width 90%
		margin 0 auto
		margin-top -10px
		transition all 1s cubic-bezier(.45,.22,.63,.93)
		p 
			font-size 1.5rem
			font-weight 900
			margin-top 10px
			color #fff
		li 
			list-style none 
			margin 10px 10px
			height 30px
			margin-left -20px
			line-height 30px
			opacity 0
			a 
				font-size 1.1rem
				text-decoration none
				color #fff
				&:hover 
					color #fff
			&:nth-child(2)
				transition all .5s .3s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(3)
				transition all .5s .4s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(4)
				transition all .5s .5s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(5)
				transition all .5s .6s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(6)
				transition all .5s .7s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(7)
				transition all .5s .8s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(8)
				transition all .5s .9s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(9)
				transition all .5s 1s cubic-bezier(.45,.22,.63,.93)
			&:nth-child(10)
				transition all .5s 1.1s cubic-bezier(.45,.22,.63,.93)

	.inicio-sesion
		width 90%
		margin 0 auto
		border-top 1px solid #fff
		margin-top 30px
		padding-top 10px
		opacity 0
		transition all .5s 1.1s cubic-bezier(.45,.22,.63,.93)
		a 
			text-decoration none
			color #fff
			padding 3px 10px 
			font-weight 400
			font-size 1.1rem
			&:nth-child(1)
				border-right 1px solid #fff
				padding-right 11px
			&:last-child
				margin-top 10px
				padding-top 10px
				display block
				border-top 1px solid #fff
				&:before
					content ""
					width 20px 
					height 20px 
					margin-right 10px
					display inline-block
					background url("../img/icono-download.svg")
					background-size cover
	.nosotros-menu
		width 90%
		margin 0 auto
		border-top 1px solid #fff
		margin-top 0px
		padding-top 10px
		opacity 0
		transition all .5s 1.1s cubic-bezier(.45,.22,.63,.93)
		a 
			text-decoration none
			color #fff
			padding 3px 10px 
			font-weight 400
			font-size 1.1rem
			&:nth-child(1)
				border-right 1px solid #fff
				padding-right 11px
	.redes 
		width 90%
		margin 0 auto
		margin-top 30px
		p 
			font-size 1.5rem
			line-height 1.6rem
			font-weight 900
			color #fff
			margin-bottom 20px
			opacity 0
			transition all 2s
		span
			font-size 2rem
			color #fff
			margin 10px
			opacity 0
			&:hover 
				color rojo-mr
			&:nth-child(2)
				transition all 2s .5s
			&:nth-child(3)
				transition all 2s .7s
			&:nth-child(4)
				transition all 2s .9s
	.redes-activo
		p, span
			opacity 1
@media screen and (min-width: 500px)
	header
		.logo
			width 70%
		.menu-principal
			width 30% 
		nav 
			margin-left 0%
@media screen and (min-width: 700px)
	header
		.logo
			width 75%
		.menu-principal
			width 25% 
	nav 
		margin-left 0%
		ul 
			li 
				width 200px
				height 100px
				line-height 100px
				display inline-block
				vertical-align top
		.inicio-sesion
			padding-top 30px
			a 
				&:last-child
					margin-top 30px
					padding-top 20px
					display block
					border-top 1px solid #fff
					&:before
						content ""
						width 20px 
						height 20px 
						margin-right 10px
						display inline-block
						background url("../img/icono-download.svg")
						background-size cover
		.nosotros-menu
			border-top 1px solid #fff
			margin-top 20px
			padding-top 30px
@media screen and (min-width: 1000px)
	.flechas-antes-despues
		display none
	header
		.logo
			width 80%
		.menu-principal
			width 20% 
		nav 
			ul 
				li 
					width 200px
@media screen and (min-width: 1200px)
	header
		.logo
			width 85%
		.menu-principal
			width 15% 
	nav 
		ul 
			li 
				width 300px
@media screen and (min-width: 1400px)
	header
		width 100%
		height 80px
		background rgba(60, 60, 60, 1)
		position relative
		z-index 10000001
		.logo
			width 200px
			height 80px
			background gris-logo
			img
				width auto
				height 60px
				margin-left 60px
				margin-top 10px
		.menu-principal
			width 0%
			right inherit
			height 80px
			margin-top -80px
			position relative
			z-index 3
			left 50%
		.rayitas
			position absolute
			width 40px
			height 40px
			cursor pointer
			top 10px
			left 50%
			transition all .5s cubic-bezier(.45,.22,.63,.93)
			margin-left -20px
			transform rotate(0deg) !important
			.rayita 
				height 3px 
				background #fff 
				position absolute
				transition all .5s cubic-bezier(.45,.22,.63,.93)
				transform-origin 50%
			.rayita-uno
				width 20px 
				margin-left 20px
			.rayita-dos
				width 40px
				margin-top 9px
				opacity 1
			.rayita-tres
				width 20px
				margin-top 18px
		.rayitas-desactivas
			&:hover
				.rayita-uno
					width 40px
					margin-left 0
				.rayita-tres 
					width 40px
		.rayitas-activas
			top 10px
			.rayita 
				background rgba(255, 255, 255, .75)
			.rayita-uno
				width 40px
				margin-left 0px
				margin-top 9px
				transform rotate(45deg) !important
			.rayita-tres
				width 40px
				transform rotate(-45deg) !important
				margin-left 0px
				margin-top 9px
			.rayita-dos
				opacity 0
	nav 
		.inicio-sesion
			padding-top 30px
			width 40% !important
			margin-left 5%
			/*a 
				
				border-right 1px solid #fff
				&:last-child
					margin-top 30px
					padding-top 0px
					padding 3px 10px
					display inline-block
					border-right 0px solid #fff
					border-top 0px solid #fff
					&:before
						content ""
						width 20px 
						height 20px 
						margin-right 10px
						display inline-block
						background url("../img/icono-upload.svg")
						background-size cover*/
		.nosotros-menu
			width 40%
			margin-left 5%
			border-top 1px solid #fff
			margin-top 20px
			padding-top 30px
			display inline-block
			vertical-align top
		.redes
			display inline-block
			vertical-align top
			width 40%
			margin-top -100px
			margin-left 13%
			p 
				width 200px
			span
				cursor pointer
	

					
				














			
			