@font-face {
  font-family: 'icomoon';
  src:  url('../iconos-redes/icomoon.eot?asnch4');
  src:  url('../iconos-redes/icomoon.eot?asnch4#iefix') format('embedded-opentype'),
    url('../iconos-redes/icomoon.ttf?asnch4') format('truetype'),
    url('../iconos-redes/icomoon.woff?asnch4') format('woff'),
    url('../iconos-redes/icomoon.svg?asnch4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
