.contenedor-slide
	width 100%
	height 0px
	padding-bottom 40%
	margin-top 0px
	z-index 0
	position relative
	overflow hidden
	background #000
	.nav-slide
		position absolute
		z-index 1000
		top 50%
		margin-top -35px
		height 70px 
		width 100%
		ul 
			width 100%
			height 100%
			position relative
			li 
				width 70px 
				height 70px
				list-style none
			#btnAnt
				background url("../img/btn-izq.png") no-repeat
				background-size cover 
				position absolute
				left 10px
			#btnSig
				background url("../img/btn-der.png") no-repeat
				background-size cover 
				position absolute
				right 10px
	article 
		&:nth-child(1)
		&:nth-child(2)
			.texto-slide
				display none
		&:nth-child(3)
			.texto-slide
				display none
	.s_element
		opacity 0
		transition all 1s 
		position absolute
		width 100%
		height 100%
		.fondo-slide
			width 100%
			height 100%
			position absolute
			z-index 0
			img
				width 120%
				height auto
				margin-left -130px
		.producto-slide
			width 100%
			height 100%
			position absolute
			z-index 1
			transition 1.5s all cubic-bezier(.45,.22,.63,.93)
			opacity 0
			img 
				width 120%
				margin-left 0px
				height auto
		.texto-slide
			width 90%
			left -1000px
			color #fff
			position relative 
			z-index 3
			top 250px
			text-align center
			transition 1.5s all cubic-bezier(.45,.22,.63,.93)
			h2
				font-size 1.5rem
				margin-bottom 10px
			p 
				font-size 1rem
				line-height 1.6rem
			a 
				text-decoration none
				margin-top 10px
				display block
				position relative
			.btn-slide
				width 100px
				height 40px
				margin 0 auto
				line-height 40px
				text-align center
				background rojo-mr
				color #fff
				text-transform uppercase
				position relative
				z-index 2
			.btn-linea
				width 100px
				height 40px
				margin-top -35px
				left 50%
				margin-left -45px
				border 2px solid #fff 
				position absolute
				z-index 1
	.s_visible
		opacity 1
		.producto-slide
			opacity 1
	.s_element
		/*&:nth-child(3)
			.producto-slide
				img
					animation 19s rotate linear infinite !important
					transform-origin 50% 50% !important
					animation-name slide !important
			.fondo-slide
				img
					animation 19s rotate linear infinite !important
					transform-origin 50% 50% !important
					animation-name slideFondo !important */
		.producto-slide
			img
				animation 38s rotate linear infinite
				transform-origin 50% 50%
				animation-name slide
			@keyframes slide{
					0% {
						 margin-left 0px;
					}

					50% {
						 margin-left -100px;
					}
					100% {
						 margin-left 0px;
					}

			}
		.fondo-slide
			img
				animation 38s rotate linear infinite
				transform-origin 50% 50%
				animation-name slideFondo
			@keyframes slideFondo{
					0% {
						 margin-left -130px;
					}
					
					50% {
						 margin-left 0px;
					}
					100% {
						 margin-left -130px;
					}


			}
		.texto-slide
			left 5%
			
.unete
	width 100%
	position relative
	margin-top 80px
	article
		width 90%
		position absolute
		left 5%
		text-align center
		z-index 2
		top 35%
		h2 
			color #fff 
			font-size 1.5rem
		p 
			color #fff 
			font-size 1rem
			line-height 1.6rem
		.btn-unete
			width 160px
			margin 0 auto
			margin-top 20px
			height 40px
			line-height 35px
			border-radius 20px
			color #fff 
			font-size 1rem
			border 2px solid #fff
			a
				color #fff 
				text-decoration none
	.diagonales 
		margin-top -80px
	.diagonal-uno
		width 100%
		height 10px
		background rojo-mr
		//transform skewY(-3deg)
	.diagonal-dos
		display none
		width 100%
		height 10px
		background #636463
		//transform skewY(-3deg)
	.diagonal-tres
		display none
		width 100%
		height 10px
		background #4a4a49
		//transform skewY(-3deg)
	.contenedor-video
		width 100%
		height 300px
		overflow hidden
		//transform skewY(-3deg)
		border-bottom 10px solid rgba(37, 44, 94, .60)
		background rgba(0, 0, 0, .8)
		cursor pointer
		video 
			width auto	
			opacity .10
.unete-uno
	&:hover
		.contenedor-video
			background rgba(3, 47, 198, 1) !important
.unete-dos
	&:hover
		.contenedor-video
			background rgba(167, 0, 0, 1) !important
.seccion-categorias
	padding 40px 0
	background #fff
	article
		width 90%
		margin 0 auto 
		text-align center
		z-index 2
		margin-bottom 30px
		h2 
			color rojo-mr 
			font-size 1.5rem
		p 
			color gris-mr
			font-size 1rem
			line-height 1.6rem
	.categorias-index
		text-align center
		article
			width 150px
			height 150px
			position relative
			display inline-block
			vertical-align top
			margin 10px 
			.new-label
				width 40%
				height 40%
				right 0
				top 0
				position absolute
				background url("../img/nuevo-label.png") no-repeat
				background-size cover
			&:nth-child(1)
				.contenedor-video-categorias
					background rgba(100, 20, 14, 1)
			&:nth-child(2)
				.contenedor-video-categorias
					background rgba(215, 130, 13, 1)
			&:nth-child(3)
				.contenedor-video-categorias
					background rgba(223, 51, 20, 1)
			&:nth-child(4)
				.contenedor-video-categorias
					background rgba(80, 39, 113, 1)
			&:nth-child(5)
				.contenedor-video-categorias
					background rgba(26, 33, 62, 1)
			&:nth-child(6)
				.contenedor-video-categorias
					background rgba(44, 136, 57, 1)
			&:nth-child(7)
				.contenedor-video-categorias
					background rgba(0, 81, 129, 1)
			&:nth-child(8)
				.contenedor-video-categorias
					background rgba(0, 0, 0, 1)

			.contenedor-video-categorias
				width 100%
				height 100%
				position absolute
				overflow hidden
				video
					width auto 
					height 100%
					opacity 1
			.texto-categorias
				width 80%
				left 10%
				text-align left
				position absolute
				top 60px
				h2 
					font-size 1.3rem
					color #fff
					text-transform uppercase
					font-weight 700
					font-style italic
					text-shadow 2px 1px 4px rgba(100, 100, 100, 1)
					&::before
						content ''
						width 40px 
						height 2px
						margin-bottom 5px
						display block
						background #fff 
				.first-word
					font-size 1rem
					display block
					font-weight 400
@media screen and (min-width: 700px)
	.contenedor-slide
		.s_element
			.texto-slide
				width 300px
				top 150px
				text-align left
				h2
					font-size 2.5rem
					margin-bottom 10px
				p 
					font-size 1.2rem
					line-height 1.8rem
				a 
					margin-top 20px
				.btn-slide
					margin-left 0 !important
				.btn-linea
					left 0%
					margin-left 5px
	.contenedor-unete
		font-size 0px
	.unete
		width 50% !important 
		display inline-block !important
		vertical-align top !important
		font-size 0 !important
		article
			width 90% !important
			left 5% !important
			margin-left 0px !important
			top -20px
			h2 
				font-size 1.3rem
			p 
				font-size 1.2rem
				line-height 1.8rem
	.seccion-categorias
		padding 60px 0
		article
			max-width 500px
			margin-bottom 50px
			h2 
				font-size 2.5rem
				margin-bottom 20px
			p 
				color gris-mr
				font-size 1.2rem
				line-height 1.8rem
@media screen and (min-width: 1000px)
	.contenedor-slide
		padding-bottom 38%
		.nav-slide ul li 
			cursor pointer
			transform-origin 50%
			transform scale(1)
			transition all .5s
			&:hover 
				transform scale(1.2)
		.s_element
			.fondo-slide
				img
					width 110%
					height auto
			.producto-slide
				img 
					width 110%
					height auto
					margin-left 0px
					animation 38s rotate linear infinite
					transform-origin 50% 50%
					animation-name slideDos
				@keyframes slideDos{
					0% {
						 margin-left 0px;
					}

					50% {
						 margin-left -100px;
					}
					100% {
						 margin-left 0px;
					}

				}
			.texto-slide
				width 500px
				h2
					font-size 3rem
	.unete
		width 100%
		article
			width 80% !important
			left 10% !important
			top 30%
			h2 
				font-size 1.6rem
				margin-bottom 20px
			p 
				font-size 1.2rem
				line-height 1.8rem
	.contenedor-video
		height 600px !important
		video
			height 100% 
	.unete-uno 
		.contenedor-video
			video 
				width 100% !important
				height auto !important
	.seccion-categorias
		padding 60px 0
		padding-bottom 250px
		article
			max-width 500px
			margin-bottom 50px
			h2 
				font-size 2.5rem
				margin-bottom 20px
			p 
				color gris-mr
				font-size 1.2rem
				line-height 1.8rem
		.categorias-index
			max-width 1200px
			margin 0 auto 
			position relative
			article
				width 220px
				height 220px
				margin 20px
				border-radius 5px 
				overflow hidden
				cursor pointer
				box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
				transition all 0.3s cubic-bezier(.25,.8,.25,1)
				/*&:first-child
					position absolute
					top 560px
					width 332px
					height 88px
					overflow inherit
					left 50%
					margin-left -160px
					background url("../img/btn-new-productos.png") no-repeat !important
					background-size cover !important
					&:hover 
						box-shadow inherit
					.contenedor-video-categorias
						display none
					&:after 
						content ""
						width 353px
						height 108px
						position absolute
						top -10px
						left -10px
						border 2px dashed #d1d0d0
					video 
						width 100%
						height auto
					.texto-categorias
						top -67px
						h2
							font-size 1.6rem
							font-weight 700 !important
							margin-top 90px
							text-align center
							&::before
								content ''
								width 40px 
								height 2px
								margin-bottom 5px
								margin-left 120px
								display block
								background #fff 
						.first-word
							font-size 1.6rem
							font-weight 700 !important
							display inline-block*/
							
				&:hover 
					box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
				.texto-categorias
					top 30px
					h2
						font-size 1.6rem
						font-weight 700 !important
						margin-top 90px
						





