.cabecera-articulos
	width 100%
	margin-top 0px
	position relative
	article
		width 90%
		position absolute
		left 5%
		text-align center
		z-index 2
		top 55%
		h2 
			color #fff 
			font-size 1.8rem
			text-transform uppercase
			text-shadow 2px 0px 2px rgba(40, 40, 40, 1)
		p 
			color #fff 
			font-size .8rem
			line-height 1.2rem
		.btn-unete
			width 140px
			margin 0 auto
			margin-top 20px
			height 30px
			line-height 30px
			color #fff 
			font-size .8rem
			text-transform uppercase
			background rojo-mr
			a
				color #fff 
				text-decoration none
	.diagonales 
		margin-top -10px
	.diagonal-uno
		width 100%
		height 10px
		background #878787
		//transform skewY(-3deg)
	.diagonal-dos
		width 100%
		height 10px
		background #b2b2b2
		//transform skewY(-3deg)
	.diagonal-tres
		width 100%
		height 10px
		background #dadada
		//transform skewY(-3deg)
	.contenedor-video
		background rgba(30, 30, 30, 1)
		width 100%
		overflow hidden
		//transform skewY(-3deg)
		video 
			width 130%	
			opacity 1
			

/********************** PRODUCTOS *******************/

.contenedor-productos
	width 90%
	margin 0 auto
	margin-top 40px
	position relative
	font-size 0
	text-align center
	padding-bottom 30px
	a
		&:nth-child(odd)
			margin-right 10%
	.producto 
		width 45%
		max-width 155px
		display inline-block
		vertical-align top 
		position relative
		margin-bottom 20px
		background #fff 
		border-radius 5px
		.fondo-producto
			width 100%
			height 100%
			position relative
			z-index 0
			border-top-left-radius 5px
			border-top-right-radius 5px
			overflow hidden
			img 
				width 100%
				height auto 
		.img-producto
			width 100%
			height 100%
			margin-top 20px !important
			z-index 1
			position absolute
			img 
				width 100%
				height auto 
		h2
			width 90%
			margin 0 auto 
			position relative 
			z-index 3
			height 120px
			margin-top 20px
			padding 20px 0
			font-size 1rem
			color #393939
			font-weight 400
			&::before
				content ''
				width 20px 
				height 2px
				position absolute
				left 50%
				margin-left -10px
				top 0px
				margin-bottom 5px
				display block
				background #393939
			.codigo-producto-dos
				font-size 1rem !important
				display block
				margin-top 20px
.quiero-unirme
	width 90%
	padding-bottom 60px
	margin 0 auto 
	border-top 1px solid gris-mr
	padding-top 50px
	article
		width 100%
		margin 0 auto 
		text-align center
		h2 
			color gris-mr
			font-size 1.8rem
			text-transform uppercase
			text-shadow 2px 0px 2px rgba(180, 180, 180, 1)
		p 
			color gris-mr
			font-size .9rem
			line-height 1.4rem
		.btn-unete
			width 140px
			margin 0 auto
			margin-top 20px
			height 30px
			line-height 30px
			color #fff 
			font-size .8rem
			text-transform uppercase
			background rojo-mr
			a
				color #fff 
				text-decoration none
@media screen and (min-width: 700px)
	.quiero-unirme
		width 50%
		padding-bottom 60px
		article
			width 90%
			margin 0 auto 
			text-align center
			h2 
				color gris-mr
				font-size 2rem
			p 
				font-size 1.2rem
				line-height 1.8rem
				font-weight 300
			.btn-unete
				height 40px
				line-height 40px
				a
					color #fff 
					text-decoration none
	.cabecera-articulos
		article
			width 500px
			left 50%
			margin-left -250px
			h2 
				font-size 2.5rem
				font-weight 900
			p 
				font-size 1.2rem
				line-height 1.8rem
				font-weight 300
			.btn-unete
				height 40px
				line-height 40px
		.diagonal-uno, .diagonal-dos, .diagonal-tres
			//transform skewY(-3deg)
		.contenedor-video
			//transform skewY(-3deg)
			video 
				width 100%
	.contenedor-productos
		a
			&:nth-child(odd)
				margin-right initial
		.producto
			&:nth-child(odd)
				margin-right initial
		.producto 
			margin 30px 30px !important
@media screen and (min-width: 1000px)
	.cabecera-articulos
		margin-top -120px
		.contenedor-video
			height 400px !important
	.contenedor-productos
		max-width 1000px
		padding-bottom 50px
		.producto 
			max-width 200px
			margin 40px 20px !important
			.fondo-producto
				filter grayscale(100%)
				transition all .5s
			.img-producto
				top -10px
				transform scale(1)
				transition all .5s
			&:hover
				cursor pointer
				.fondo-producto
					filter grayscale(0%)
				.img-producto
					transform scale(1.1)
					animation 3s linear infinite
					transform-origin 50% 50%
					animation-name producto
				@keyframes producto{
					0% {
						margin-top 0px;
					}
					50% {
						margin-top -10px;
					}
					100% {
						margin-top 0px;
					}
				}



