.btns-create-article
	margin-top 20px
	text-align center
	padding-bottom 20px
	button
		width 42.5% !important
		padding .7rem 0
	.btn-flat
		background #fff 
		border 1px solid gris-clarito
.formulario-articulo
	width 95%
	margin 0 auto
	background #fff
	padding 20px 0px
	.group, #mceu_13
		width 90%
		margin 0 auto
	#mceu_13
		margin-top 30px
	#mceu_27
		height 220px
	.group 
		margin-bottom 20px
		label
			padding-left 0
			font-size 1rem
	.etiquetas-seo
		margin-top 50px
		h5
			font-size 1rem
			font-weight 500
			color gris-mr
			text-align left 
			margin-bottom 20px
			margin-left 5%
			text-transform uppercase
.checkbox-container
	width 95%
	margin 0 auto
	padding 20px 0
	padding-bottom 0px
	font-size .6rem
	text-align left
	.check-awesome
		margin-bottom 15px !important
		width 45%
		display inline-block
		vertical-align top
		&:nth-child(even)
			margin-left 5%
.modulo-aside .contenedor-crear-foto-dos
	.subir-foto-articulo .cif-file-row
		border 1px solid gris-mr !important
		margin 2px
.modulo-aside .contenedor-crear-foto-uno	
	.subir-foto-articulo .cif-file-row
		width 260px !important
		height 240px !important
		img 
			width 100% !important
			height auto !important
.foto-articulo
	width 90%
	height 100%
	margin 0px auto !important
	position relative
	.subir-foto-articulo
		width 100%
		height 240px
		position relative
		padding 10px 0
		border 2px dashed rgba(0,0,0,.2)
		form, .cif-file-container, .cif-parent, .cif-img
			height 100% !important
		.cif-file-row
			width 120px
			height 120px
			overflow hidden
			display inline-block 
			vertical-align top
			border-bottom 0px solid transparent !important
			img 
				width auto !important
				height 100% !important
		.cif-close
			position absolute !important
		.cif-parent, .cif-file-row
			padding 0 !important
		h3
			margin-top 50px !important
.informacion-general
	font-size 1rem
	line-height 1.5rem
	padding 20px 0
	text-align left
	margin 0 auto
	width 90%
	
	




	