@font-face {
    font-family: 'icomoon';
    src:    url('../iconos/icomoon.eot?2ke7jx');
    src:    url('../iconos/icomoon.eot?2ke7jx#iefix') format('embedded-opentype'),
        url('../iconos/icomoon.ttf?2ke7jx') format('truetype'),
        url('../iconos/icomoon.woff?2ke7jx') format('woff'),
        url('../iconos/icomoon.svg?2ke7jx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-articulos:before {
    content: "\e905";
}
.icon-borrar:before {
    content: "\e906";
}
.icon-buscar:before {
    content: "\e907";
}
.icon-categorias:before {
    content: "\e908";
}
.icon-editar:before {
    content: "\e909";
}
.icon-user:before {
    content: "\e90a";
}
.icon-cerrar:before {
    content: "\e900";
}
.icon-flecha-abajo:before {
    content: "\e904";
}
.icon-menu:before {
    content: "\e903";
}