.pop-categoria
	width 100%
	position absolute 
	z-index 100000
	height 100%
	background rgba(0, 0, 0, .75)
	padding-top 20%
	.contenedor-pop-categoria
		width 90%
		max-width 600px
		margin 0 auto
	section
		padding-top 20px
		padding-bottom 10px
		width 90%
		margin 0 auto
		.group
			width 100%
			margin 0
			margin-bottom 15px
.nombre-anterior
	font-size .8rem
	margin 20px 0
	margin-top 10px
	strong 
		color rojo-topo
@media screen and (min-width:1000px)
	.pop-categoria
		width 80%
		left 20%
		position absolute 
		z-index 100001
		height 66.5%
		background rgba(0, 0, 0, .75)
		padding-top 20%