.lista-distribuidores 
	width 78%
	margin 0 auto
	margin-top 40px
	border-radius 5px
	overflow hidden
	.culumnas-lista-distribuidores
		height 60px
		line-height 60px
		font-size 0
		background gris-medio
		p 
			text-align left
			font-size 1rem
			line-height 1.4rem
			display inline-block
			vertical-align middle
			color negro-mr
			margin-left 2%
			&:nth-child(1)
				width 23%
			&:nth-child(2)
				width 14%
			&:nth-child(3)
				width 9%
			&:nth-child(4)
				width 14%
			&:nth-child(5)
				width 14%
			&:nth-child(6)
				width 14%
	.contenido-lista-distribuidores
		height 60px
		line-height 60px
		background #fff
		p 
			text-align left
			font-size .9rem
			display inline-block
			vertical-align top
			margin-left 2%
			color gris-texto
			&:nth-child(1)
				width 23%
			&:nth-child(2)
				width 14%
			&:nth-child(3)
				width 9%
			&:nth-child(4)
				width 14%
			&:nth-child(5)
				width 14%
			&:nth-child(6)
				width 14%
				


